.modal-window {
    z-index: 99999;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background: rgba(12, 6, 26, .6);
    display: none;
    padding: 15px;
}

.modal-body {
    position: relative;
    width: 100%;
    background-color: #fff;

    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
    max-width: 980px;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    opacity: 1;
    transform: scale(.9);
    overflow: hidden;
}

.modal-header {
    align-items: center;
    justify-content: center;
    display: flex;
    border-bottom: 1px solid #f2f3f5;
    background-color: #fff;
    height: 70px;
}

.modal__title {
    font-family: foxtrot, sans-serif, serif;
    color: #333c6f;
    font-size: 25px;
    text-align: center;
    padding: 20px 15px;
    font-weight: 500;
}

.modal__closet {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    padding: 10px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

.modal__closet:hover {
    border: solid 3px black;
}

.modal-cart {
    overflow-x: hidden;
    width: 100%;
    background-color: #e5e8fd;
    padding-right: 70px;
    border-radius: 10px;
}

.modal-cart a {
    color: #7685d6;
    text-decoration: none;
    -webkit-transition: color .2s linear;
    -moz-transition: color .2s linear;
    -ms-transition: color .2s linear;
    -o-transition: color .2s linear;
    transition: color .2s linear;
}

.modal-cart a:hover {
    color: #000;
}

.modal-cart__product.modal-remove {
    margin-left: 980px !important;
    opacity: 0;
}

.modal-cart__product header:hover img {
    opacity: .7;
}

.modal-cart__product header:hover h3 {
    bottom: 75px;
}

.modal-cart__product header h3 {
    align-items: center;
    justify-content: center;
    display: flex;
    background: #7685d6;
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    margin: 0;
    padding: 10px 25px;
    position: absolute;
    bottom: -100px;
    right: 0;
    left: 0;

    -webkit-transition: bottom .2s linear;
    -moz-transition: bottom .2s linear;
    -ms-transition: bottom .2s linear;
    -o-transition: bottom .2s linear;
    transition: bottom .2s linear;
}

.modal-cart::-webkit-scrollbar {
    width: 10px;
}

.modal-cart::-webkit-scrollbar-track {
    background: #cccccc;
    border-radius: 4px;
}

.modal-cart::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 4px;
}

.modal-cart__product {
    margin: 20px 0;
    width: 100%;
    height: 195px;
    position: relative;
    -webkit-transition: margin .2s linear, opacity .2s linear;
    -moz-transition: margin .2s linear, opacity .2s linear;
    -ms-transition: margin .2s linear, opacity .2s linear;
    -o-transition: margin .2s linear, opacity .2s linear;
    transition: margin .2s linear, opacity .2s linear;
}

.modal-cart__product header {
    background: #000;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 25%;
    height: 196px;
    float: left;
    left: 1%;
}

.modal-cart__product img {
    width: 100%;
    height: 100%;
}

.modal-remove {
    cursor: pointer;
}

.modal-cart__product header,
.modal-cart__product .modal-content {
    background-color: #fff;
    border: 1px solid #ccc;
    border-style: none none solid none;
}

.modal-content__body {
    width: 73%;
    margin-left: 27%;
}

.modal-content {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 140px;
    padding: 10px 20px;
    width: 100%;
}

.modal-cart-product__title {
    padding-bottom: 10px;
    color: #7685d6;
    font-size: 25px;
    font-weight: 300;
}

.type-color--yellow {
    background: #f1c40f;
}

.type-color--green {
    background: #22f10f;
}

.type-color--red {
    background: #f10f47;
}

.modal-type-color {
    top: 0;
    width: 40px;
    height: 40px;
    right: -40px;
}

.modal-type,
.modal-type-color {
    border: 1px solid #ccc;
    border-style: none none solid none;
    position: absolute;
}

.modal-type {
    top: 43px;
    background: #fcfcfc;
    font-size: 13px;
    padding: 10px 16px;
    left: 100%;
}

.modal-cart__product footer.modal-content {
    height: 50px;
    margin: 6px 0 0 0;
    padding: 0;
}

.quantity__btn.plus,
.quantity__btn.minus {
    background: #fcfcfc;
    border: none;
    font-size: 30px;
    font-weight: 300;
    height: 100%;
    padding: 0 20px;
    -webkit-transition: background .2s linear;
    -moz-transition: background .2s linear;
    -ms-transition: background .2s linear;
    -o-transition: background .2s linear;
    transition: background .2s linear;
}

.quantity__span.counter,
.quantity__btn.plus,
.quantity__btn.minus {
    display: block;
    float: left;
}

.quantity__btn.plus:hover,
.quantity__btn.minus:hover {
    background: #7685d6;
    color: #fff;
    cursor: pointer;
}

.quantity__span.counter {
    font-size: 19px;
    line-height: 50px;
    width: 70px;
    text-align: center;
}

.modal-full-price {
    background: #7685d6;
    color: #fff;
    float: right;
    font-size: 22px;
    font-weight: 300;
    line-height: 49px;
    margin: 0;
    padding: 0 30px;
    -webkit-transition: margin .15s linear;
    -moz-transition: margin .15s linear;
    -ms-transition: margin .15s linear;
    -o-transition: margin .15s linear;
    transition: margin .15s linear;
}

.modal-price {
    background: #fcfcfc;
    color: #000;
    float: right;
    font-size: 15px;
    font-weight: 300;
    line-height: 49px;
    margin: 0;
    padding: 0 30px;
}

.modal-footer {
    justify-content: space-around;
    display: flex;
    background-color: #fff;
    font-family: foxtrot, sans-serif, serif;
    color: #333c6f;
    font-size: 25px;
    height: 70px;
    border-top: 1px solid #f2f3f5;

}

.modal-footer__fullprice {
    background: #fcfcfc;
    margin: auto 0;
    padding: 20px 30px;
}

.modal-footer__btn {
    align-items: center;
    justify-content: center;
    display: flex;
    margin: auto 0;
    height: 75%;
    width: 25%;

}