.product {
    border: 1px solid var(--product-border-color);
    border-radius: 4px;
    padding: 20px;
    padding-top: 9px;
    font-size: 14px;
    background-color: var(--product-background-color);
}

.product__image {
    position: relative;
    overflow: hidden;
    display: block;
    height: 162px;
}

.product__svg {
    height: 15px;
    width: 16px;
    margin-right: 10px;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='%235d71dd' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.04894 0.92705C7.3483 0.00573924 8.6517 0.00573965 8.95106 0.92705L10.0206 4.21885C10.1545 4.63087 10.5385 4.90983 10.9717 4.90983H14.4329C15.4016 4.90983 15.8044 6.14945 15.0207 6.71885L12.2205 8.75329C11.87 9.00793 11.7234 9.4593 11.8572 9.87132L12.9268 13.1631C13.2261 14.0844 12.1717 14.8506 11.388 14.2812L8.58779 12.2467C8.2373 11.9921 7.7627 11.9921 7.41221 12.2467L4.61204 14.2812C3.82833 14.8506 2.77385 14.0844 3.0732 13.1631L4.14277 9.87132C4.27665 9.4593 4.12999 9.00793 3.7795 8.75329L0.979333 6.71885C0.195619 6.14945 0.598395 4.90983 1.56712 4.90983H5.02832C5.46154 4.90983 5.8455 4.63087 5.97937 4.21885L7.04894 0.92705Z' /%3E%3C/svg%3E");
}

.image-switch {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 20;
    width: 100%;
    height: 100%;
    display: flex;
}

.image-switch__item {
    flex-grow: 1;
    cursor: pointer;
}

.image-switch__img {
    position: absolute;
    left: 50%;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    transform: translateX(-50%);
    pointer-events: none;
    background-color: var(--product-image-background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

.image-switch__img img {
    display: block;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-switch__item:first-child .image-switch__img {
    opacity: 1;
    z-index: -1;
}

.image-switch__item:hover .image-switch__img {
    opacity: 1;
    z-index: -1;
}

.image-pagination {
    position: absolute;
    z-index: 30;
    left: 0;
    bottom: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.product__title {
    height: 40px;
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--color-dark);
}

.product__props {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.product__rating {
    margin-right: 10px;
    display: inline-flex;
    align-items: center;
    color: var(--color-accent);
    font-weight: 600;
}

.product__rating svg {
    fill: currentColor;
    margin-right: 8px;
}

.product__testimonials {
    color: var(--color-light);
}

.product__info {
    margin-bottom: 17px;
    font-size: 12px;
    color: var(--color-light);
}

.product__term {
    display: block;
    margin-bottom: 7px;
}

.product__available {
    display: block;
}

.product__quantity {
    margin-bottom: 7px;
    margin-left: 20px;
}

.product-price {
    margin-bottom: 17px;
    display: flex;
    align-items: center;
}

.product-price__current {
    margin-right: 12px;
    font-size: 24px;
    color: var(--color-dark)
}

.product-price__old {
    font-size: 12px;
    color: var(--color-light);
    text-decoration: line-through;
}

.product__btn {
    border: none;
    padding: 14px 0;
    border-radius: 4px;
    width: 100%;
    color: var(--product-btn-color);
    background-color: var(--color-accent);
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.product__btn:hover {
    background-color: #6078f1;
    transition: background-color 0.3s ease-in-out;
}