@import 'global.css';
@import 'normalize.css';
@import 'product.css';
@import 'product-grid.css';
@import 'simplebar.css';
@import 'modal.css';


.header {
    position: relative;
    z-index: 100;
    background-color: var(--header-background-color);
    box-shadow: 0px 4px 4px rgba(135, 135, 135, 0.25);
}

.nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav__list {
    display: flex;
    align-items: center;
}

.nav__item:not(:last-child) {
    margin-right: 61px;
}

.nav__link {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: right;
    color: var(--nav-link-color);
}

.icon-user,
.icon-user__active {
    display: flex;
    align-items: center;

    padding: 10px;
    cursor: pointer;
    border-radius: 3px;

}

.icon-user {
    color: #bfbfbf;
    background-color: #565b61;
    border: 1px solid #393d41;
}

.icon-user__active {
    color: #98cce0;
    background-color: #4b545f;
    border: 1px solid #aacdf0;
}

.icon-user:hover,
.icon-user:hover>div {
    background-color: #44484b;
    color: #00d6b7;

}

.icon-user:hover>div {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='user-button' viewBox='0 0 26 26' fill='%2300d6b7'%3E%3Cpath d='M25 13c0-6.617-5.383-12-12-12S1 6.383 1 13c0 3.384 1.413 6.439 3.674 8.622a.732.732 0 0 0 .189.172C7.003 23.777 9.858 25 13 25s5.996-1.223 8.137-3.206a.732.732 0 0 0 .19-.172A11.957 11.957 0 0 0 25 13zM13 2.5c5.79 0 10.5 4.71 10.5 10.5 0 2.455-.853 4.71-2.27 6.5-.65-2.097-2.508-3.74-5.028-4.495a5.455 5.455 0 0 0 2.272-4.424c0-3.015-2.455-5.467-5.474-5.467s-5.474 2.452-5.474 5.467c0 1.82.899 3.43 2.272 4.424-2.52.756-4.377 2.398-5.028 4.496A10.44 10.44 0 0 1 2.5 13C2.5 7.21 7.21 2.5 13 2.5zm-3.974 8.08a3.974 3.974 0 0 1 7.948 0 3.974 3.974 0 0 1-7.948 0zM6.031 20.833c.225-2.75 3.141-4.785 6.969-4.785s6.744 2.035 6.97 4.785C18.112 22.486 15.675 23.5 13 23.5s-5.113-1.014-6.97-2.668z'%3E%3C/path%3E%3C/svg%3E");
}

.icon-user__active:hover,
.icon-user__active:hover>div {
    background-color: rgb(53, 54, 54);
    color: #89c9bf;

}

.icon-user__active:hover>div {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='user-button' viewBox='0 0 26 26' fill='%2389c9bf'%3E%3Cpath d='M25 13c0-6.617-5.383-12-12-12S1 6.383 1 13c0 3.384 1.413 6.439 3.674 8.622a.732.732 0 0 0 .189.172C7.003 23.777 9.858 25 13 25s5.996-1.223 8.137-3.206a.732.732 0 0 0 .19-.172A11.957 11.957 0 0 0 25 13zM13 2.5c5.79 0 10.5 4.71 10.5 10.5 0 2.455-.853 4.71-2.27 6.5-.65-2.097-2.508-3.74-5.028-4.495a5.455 5.455 0 0 0 2.272-4.424c0-3.015-2.455-5.467-5.474-5.467s-5.474 2.452-5.474 5.467c0 1.82.899 3.43 2.272 4.424-2.52.756-4.377 2.398-5.028 4.496A10.44 10.44 0 0 1 2.5 13C2.5 7.21 7.21 2.5 13 2.5zm-3.974 8.08a3.974 3.974 0 0 1 7.948 0 3.974 3.974 0 0 1-7.948 0zM6.031 20.833c.225-2.75 3.141-4.785 6.969-4.785s6.744 2.035 6.97 4.785C18.112 22.486 15.675 23.5 13 23.5s-5.113-1.014-6.97-2.668z'%3E%3C/path%3E%3C/svg%3E");
}

.button--login {
    height: 26px;
    width: 26px;
    margin-right: 5px;
}

.icon-user .button--login {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='user-button' viewBox='0 0 26 26' fill='%23bfbfbf'%3E%3Cpath d='M25 13c0-6.617-5.383-12-12-12S1 6.383 1 13c0 3.384 1.413 6.439 3.674 8.622a.732.732 0 0 0 .189.172C7.003 23.777 9.858 25 13 25s5.996-1.223 8.137-3.206a.732.732 0 0 0 .19-.172A11.957 11.957 0 0 0 25 13zM13 2.5c5.79 0 10.5 4.71 10.5 10.5 0 2.455-.853 4.71-2.27 6.5-.65-2.097-2.508-3.74-5.028-4.495a5.455 5.455 0 0 0 2.272-4.424c0-3.015-2.455-5.467-5.474-5.467s-5.474 2.452-5.474 5.467c0 1.82.899 3.43 2.272 4.424-2.52.756-4.377 2.398-5.028 4.496A10.44 10.44 0 0 1 2.5 13C2.5 7.21 7.21 2.5 13 2.5zm-3.974 8.08a3.974 3.974 0 0 1 7.948 0 3.974 3.974 0 0 1-7.948 0zM6.031 20.833c.225-2.75 3.141-4.785 6.969-4.785s6.744 2.035 6.97 4.785C18.112 22.486 15.675 23.5 13 23.5s-5.113-1.014-6.97-2.668z'%3E%3C/path%3E%3C/svg%3E");
}

.icon-user__active .button--login {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='user-button' viewBox='0 0 26 26' fill='%2398cce0'%3E%3Cpath d='M25 13c0-6.617-5.383-12-12-12S1 6.383 1 13c0 3.384 1.413 6.439 3.674 8.622a.732.732 0 0 0 .189.172C7.003 23.777 9.858 25 13 25s5.996-1.223 8.137-3.206a.732.732 0 0 0 .19-.172A11.957 11.957 0 0 0 25 13zM13 2.5c5.79 0 10.5 4.71 10.5 10.5 0 2.455-.853 4.71-2.27 6.5-.65-2.097-2.508-3.74-5.028-4.495a5.455 5.455 0 0 0 2.272-4.424c0-3.015-2.455-5.467-5.474-5.467s-5.474 2.452-5.474 5.467c0 1.82.899 3.43 2.272 4.424-2.52.756-4.377 2.398-5.028 4.496A10.44 10.44 0 0 1 2.5 13C2.5 7.21 7.21 2.5 13 2.5zm-3.974 8.08a3.974 3.974 0 0 1 7.948 0 3.974 3.974 0 0 1-7.948 0zM6.031 20.833c.225-2.75 3.141-4.785 6.969-4.785s6.744 2.035 6.97 4.785C18.112 22.486 15.675 23.5 13 23.5s-5.113-1.014-6.97-2.668z'%3E%3C/path%3E%3C/svg%3E");
}


.cart {
    position: relative;
    padding: 40px 19px;
    transition: background-color 0.3s;
}

.cart.active:hover {
    cursor: pointer;
    background: rgba(93, 113, 221, 0.1);
    transition: background-color 0.3s;
}

.header__cart {
    margin-left: 40px;
}

.cart__quantity {
    position: absolute;
    left: 50px;
    top: 46%;
    transform: translateY(-50%);
    margin-top: -10px;
    background-color: var(--cart-quantity-background-color);
    border-radius: 100%;
    padding: 2px;
    color: var(--cart-quantity-color);
    font-size: 12px;
    min-height: 16px;
    min-width: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.cart__svg {
    fill: var(--cart-svg-background-color);
}

.cart-content {
    cursor: default;
    width: 490px;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--cart-content-background-color);
    box-shadow: 0px 4px 4px rgba(135, 135, 135, 0.25);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.cart.active:hover .cart-content {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.product__alert {
    height: auto;
}

.content {
    padding: 90px 0;
}

.cart-content__list {
    max-height: 330px;
}

.cart-product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    padding-right: 13px;
    transition: background-color 0.3s;
}

.cart-product:hover {
    background: var(--cart-product-background-color);
    transition: background-color 0.3s;
}

.cart-product__img {
    margin-right: 20px;
    max-width: 100px;
    max-height: 100px;
    object-fit: cover;
}

.cart-product__title {
    width: 300px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--color-dark);
    margin-bottom: 18px;
}

.cart-product__price {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: var(--color-dark);
}

.cart-product__delete {
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 24px;
    height: 24px;
    padding: 0;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' height='24' pointer-events='none' width='24' fill='%23998787'%3E%3Cuse pointer-events='none' xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href='%23icon-trash'%3E%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' id='icon-trash'%3E%3Cg%3E%3Cpath d='m9 3c-.55228 0-1 .44772-1 1s.44772 1 1 1h6c.5523 0 1-.44772 1-1s-.4477-1-1-1z'%3E%3C/path%3E%3Cpath clip-rule='evenodd' d='m3 7c0-.55228.44772-1 1-1h16c.5523 0 1 .44772 1 1s-.4477 1-1 1h-1v10c0 2.2091-1.7909 4-4 4h-6c-2.20914 0-4-1.7909-4-4v-10h-1c-.55228 0-1-.44772-1-1zm4 1h10v10c0 1.1046-.8954 2-2 2h-6c-1.10457 0-2-.8954-2-2z' fill-rule='evenodd'%3E%3C/path%3E%3C/g%3E%3C/svg%3E%3C/use%3E%3C/svg%3E");
}

.cart-product__delete:hover {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' height='24' pointer-events='none' width='24' fill='%23ff7878'%3E%3Cuse pointer-events='none' xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href='%23icon-trash'%3E%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' id='icon-trash'%3E%3Cg%3E%3Cpath d='m9 3c-.55228 0-1 .44772-1 1s.44772 1 1 1h6c.5523 0 1-.44772 1-1s-.4477-1-1-1z'%3E%3C/path%3E%3Cpath clip-rule='evenodd' d='m3 7c0-.55228.44772-1 1-1h16c.5523 0 1 .44772 1 1s-.4477 1-1 1h-1v10c0 2.2091-1.7909 4-4 4h-6c-2.20914 0-4-1.7909-4-4v-10h-1c-.55228 0-1-.44772-1-1zm4 1h10v10c0 1.1046-.8954 2-2 2h-6c-1.10457 0-2-.8954-2-2z' fill-rule='evenodd'%3E%3C/path%3E%3C/g%3E%3C/svg%3E%3C/use%3E%3C/svg%3E");

}

.cart-content__bottom {
    padding: 20px;
    border-top: 1px solid #eaeaea;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-content__fullprice {
    font-size: 14px;
    line-height: 20px;
    color: var(--color-dark);
    display: flex;
    flex-direction: column;
}

.fullprice {
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: var(--color-dark);
}

.cart-content__btn {
    display: inline-block;
    width: 246px;
    text-align: center;
}

.simplebar-track.simplebar-vertical {
    width: 4px;
    background: rgba(77, 77, 77, 0.1);
    border-radius: 5px;
    right: 5px;
    margin-top: 20px;
    height: calc(100% - 40px);
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
    background: rgba(77, 77, 77, 0.2);
    border-radius: 5px;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 1;
}